<div ui-content-for="title">
    <span></span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-truck feature-icon text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">Congratulations!</h3>
                    <p>Dear {{processedOrder.ShipName}}</p>
                    Order N.{{processedOrder.OrderID}} will be processed soon
                </div>
            </div>
        </div>
    </div>
</div>
