<div class="scrollable">
    <div class="scrollable-content section">
        <form role="form">
           
            <div class="form-group">
                <div class="">
                    <input type="email" class="form-control" placeholder="Email" 
                        ng-model="user.Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="">
                    <input type="password" class="form-control" placeholder="Password" 
                        ng-model="user.Password" />
                </div>
            </div>

             <div class="form-group">
                <div class="">
                    <input type="password" class="form-control" placeholder="Confirm password" 
                        ng-model="user.ConfirmPassword" />
                </div>
            </div>
        
            <a  href=""
                data-ui-ladda="spinning" 
                ng-click="register()" 
                ng-disabled="user.Email==undefined || user.Email=='' || user.Password=='' || user.Password==undefined || user.ConfirmPassword=='' || user.ConfirmPassword==undefined" 
                class="btn btn-success segoe-ui-light ladda-button"
                data-style="expand-right">
                <span class="ladda-label">Register</span>
            </a>
        </form>
    </div>
</div>

<!--
add SharedState and rootscope to controller 
<div ui-content-for="modals">
    <div ng-include="'Scripts/app/views/overlay.html'"></div>
</div>   
-->    

